
<ol class="breadcrumb">
    <li class="active">Blogposts</li>
</ol>

<div class="welcome-image text-center">
    <img src="<%= asset_path( 'welcome_burned.png' ) %>" />
</div>

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Published</th>
                <th>Title</th>
                <th>Text</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <% @blogs.each do |blog| %>
            <tr>
                <td><%= blog.active %></td>
                <td><%= blog.title %></td>
                <td><%= blog.text %></td>
                <td><%= image_tag(blog.image_url(:thumb), alt: 'Image') if blog.image? %></td>
                <td>
               <%= link_to 'Edit', edit_backend_blog_path(blog), class: 'btn btn-info' %>
               <%= link_to 'Delete', backend_blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
    </table>

    <div class="linktonewblog">
        <%= link_to 'New Blog', new_backend_blog_path, class: 'btn btn-success' %>
    </div>

</div>

<%= will_paginate @blogs %>
